<div class="form">
  <h1>Here´s your offer!</h1>
  <%= simple_form_for [@offer, @booking] do |f| %>
    <%= f.input :starting_date %>
    <%= f.input :ending_date %>
    <%= f.button :submit %>
  <% end %>
</div>
