<div class="mt-5 mx-5">
  <h1 class="text-center">Here are your bookings</h1>
  <% @bookings.each do |booking| %>
    <ul>
      <li>
      <%= booking.starting_date %>
      </li>
    </ul>
  <% end %>
</div>
