<div class="container mt-5">
  <h1 class="text-center mb-5">About us</h1>
  <div>
     <p class="mb-5" style="font-size: 22px; text-align: center;"> Our main goal is to create a global platform to make learning available to any person around the globe. <br> We try to help people achieve their dreams.</p>
  </div>
  <div class="text-center">
    <img src="https://images.unsplash.com/photo-1548705085-101177834f47?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3432&q=80" id="group-image" style="width: 50%" >
  </div>
</div>
