<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1><strong>Learning Hub | </strong> Different Stuff to learn with creative people!</h1>
    <br>
    <p> Learn and develop any skill. Connect with our members and start learning today.</p>
    <br>
    <br>
    <a class="btn-accent" href="#">Apply now</a>
  </div>
</div>

<div class="container">
  <div class="container">
    <div class="row mt-5 cards content">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://upload.wikimedia.org/wikipedia/commons/b/b0/Surf_8508_%2824562138976%29.jpg">
        Surf lesson
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
        Vegan Cooking lesson
      </div>
    </div>
      <div class="row mt-5 cards content">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://lh6.googleusercontent.com/RS097RxKppVussyVkm2T_NYwi7WCtw4OX1BluDRhAKZ0ScBpyuuaRczBET03huaEgyJ_mj3ffGOeHVTvwgeZ1NLjpxGIVdx28zJq_qJ-FTGNrpdT_gSp-ksvTrV41p87t27SqMYI=w600)">
          English lesson
        </div>

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://video-images.vice.com/articles/5a1d844947feed11c542fa6f/lede/1511884559295-DSC07424.jpeg?crop=1xw:0.8411xh;0xw,0.1084xh)">
          Guitar lesson
        </div>
      </div>
      <div class="row mt-5 mb-5 cards content">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.yogauonline.com/sites/default/files/styles/wellness_blog_level3_main/public/fotolia_46802356_subscription_xl_1.jpg?itok=gKkcd5FR)">
          Yoga lesson
        </div>

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://brunswickdowntown.org/wp-content/uploads/2020/06/tennis-lesson.jpg)">
          Tennis lesson
        </div>
      </div>
    </div>
  </div>
  <div class="container">
  </div>
</div>
