<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://innovationatwork.ieee.org/wp-content/uploads/2021/01/bigstock-Machine-Learning-Artificial-I-311340295_1024X684.png);">
  <div class="container">
    <h1>Offer Overview</h1>
    <br>
    <p>    Display and edit your offers and let people know what you want to teach.</p>
    <%= link_to 'Create new offer', new_offer_path, class: "btn btn-accent" %>
  </div>
</div>
<div class="mt-5 mx-5 cards content">
<% @offers.each do |offer| %>
  <div class="card-category" style="background-image: url('<%= offer.photo.key.present? ? cl_image_path(offer.photo.key) : '' %>')">
    <%= offer.title %><%= link_to 'Show', offer_path(offer.id) %>
  </div>
<% end %>
</div>
<br>
