
<div class="container d-flex justify-content-center">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
    <div class="col card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <p class="text-white text-center" id="text">Surf lesson</p>
    </div>

    <div class="col card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <p class="text-white text-center" id="text">Guitar lesson</p>
    </div>

    <div class="col card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
      <p class="text-white text-center" id="text">English lesson</p>
    </div>

    <div class="col card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
     <p class="text-white text-center" id="text">Vegan Cooking lesson</p>
    </div>
  </div>
</div>
